# Assignment: Mid-Course Project 1

Hi there,

We just finished collecting survey data from a few thousand customers whoâ€™ve purchased our alarm clocks (see attached spreadsheet).
Can you clean up the data so I can pass it along to our research team to dive into next week?

Thanks!\
Alan

*Attachment: Alarm Survey Data.xlsx*

### 1. Read in data from an Excel spreadsheet and put into a Pandas DataFrame

### 2. Quickly explore the DataFrame. Does anything immediately look odd?

### 3. Is there any missing data? Resolve as needed.

### 4. Is there any inconsistent text or typos? Resolve as needed.

### 5. Is there any duplicate data? Resolve as needed.

### 6. Are there any outliers? Resolve as needed.

### 7. Quickly explore the updated DataFrame. How do things look now?

In [22]:
# check for missing values
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [survey_id, age, number_of_children, activity_level, sleep_quality, number_of_snoozes, alarm_rating]
Index: []

In [23]:
# check for inconsistent text
df.activity_level.value_counts()

lightly active    3287
active            2422
very active        656
Name: activity_level, dtype: int64

In [25]:
# check for duplicate values
df[df.duplicated()]

Empty DataFrame
Columns: [survey_id, age, number_of_children, activity_level, sleep_quality, number_of_snoozes, alarm_rating]
Index: []

In [24]:
# check for outliers
df.describe()

,survey_id,age,number_of_children,sleep_quality,number_of_snoozes,alarm_rating
count,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000,6365.000000
mean,3183.882325,29.076826,1.396936,4.107620,1.155067,2.955381
std,1837.741432,7.476376,1.433575,0.963612,1.587979,1.099921
min,1.000000,13.000000,0.000000,1.000000,0.000000,1.000000
25%,1593.000000,23.000000,0.000000,4.000000,0.000000,2.000000
50%,3184.000000,28.000000,1.000000,4.000000,0.000000,3.000000
75%,4775.000000,34.000000,2.000000,5.000000,2.000000,4.000000
max,6366.000000,47.000000,5.500000,5.000000,8.000000,5.000000

In [26]:
# first round of data cleaning is complete!
df.head()

,survey_id,age,number_of_children,activity_level,sleep_quality,number_of_snoozes,alarm_rating
0,1,34,3.0,active,3.0,1,5
1,2,31,3.0,lightly active,3.0,3,3
2,3,18,0.0,lightly active,4.0,1,1
3,4,42,4.0,active,4.0,1,4
4,5,30,1.0,lightly active,1.0,4,3